.admin-toolbar {
  margin-bottom: 20px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.table-container {
  padding: 20px;
}

table {
  width: 100%;
}

.product-preview-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin: 5px 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
