<div class="details-container">
  <button mat-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Quay lại danh sách sản phẩm
  </button>

  @if (product$ | async; as product) {
    <mat-card *ngIf="product" class="product-card">
      <div class="row">
        <!-- Image Gallery (Left Column) -->
        <div class="col-md-6 image-gallery">
          <img [src]="mainImage() || product.mainImageUrl" alt="{{ product.name }}" class="main-image">
          
          <div class="thumbnail-wrapper">
            @for (imageUrl of product.imageUrls; track imageUrl) {
              <img 
                [src]="imageUrl" 
                (click)="setMainImage(imageUrl)"
                [class.active]="mainImage() === imageUrl"
                class="thumbnail"
                alt="Thumbnail of {{ product.name }}"
              />
            }
          </div>
        </div>

        <!-- Product Details (Right Column) -->
        <div class="col-md-6 details-content">
          <h1 class="product-name">{{ product.name }}</h1>
          <p class="product-price">{{ product.price | currency:'VND':'symbol':'1.0-0' }}</p>
          
          <h2 *ngIf="product.description">Mô tả sản phẩm:</h2>
          <p class="product-description">{{ product.description }}</p>
        </div>
      </div>
    </mat-card>
  }
</div>
