body, .page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-image {
  max-width: 80%;
  max-height: 200px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.account-icon-wrapper {
  margin-right: 8px;
}

main {
  min-height: calc(100vh - 40px); 
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.main-navbar.mat-toolbar {
    min-height: 40px !important; 
    height: 40px !important;
    background-color: palegoldenrod;
    color: black; 
    padding: 0 8px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar-logo-image {
  max-height: 30px; 
  height: auto;
}

.main-navbar button.mat-icon-button {
    height: 40px; 
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.main-navbar mat-icon {
    color: black;
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin: 0; 
    display: block;
}

.loading-overlay {
  position: fixed; /* Fixes it in the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.user-email-display {
  font-size: 14px;
  margin-right: 15px; /* Add some space between the email and the account icon */
  color: #333; /* A readable color against palegoldenrod */
  /* Ensure it doesn't get squished by flexbox properties */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Prevent extremely long emails from taking too much space */
  font-weight: bold;
}
