body, .page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.banner-image {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}