@if (isVisible()) {
  <div class="sticky-side-panel">
    <a href="tel:0946622429" class="sticky-icon phone">
      <mat-icon>phone</mat-icon>
    </a>

    <a href="mailto:phamduyen2429@gmail.com" class="sticky-icon email">
      <mat-icon>email</mat-icon>
    </a>

    <a href="https://www.facebook.com/PhamDuyenFLOWER" target="_blank" rel="noopener" class="sticky-icon facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="https://www.tiktok.com/@pdflower.bmt.2429" target="_blank" rel="noopener noreferrer" class="sticky-icon tiktok">
      <img src="assets/TikTok_Icon_Black_Circle.png" alt="TikTok" class="custom-icon-img" />
    </a>
  </div>
}