<!-- Wrapper for the header content -->
<div class="dialog-header">
  <h2 mat-dialog-title>Lọc theo danh mục</h2>
</div>

<mat-dialog-content class="dialog-content-wrapper">
  @for (category of data.allCategories; track category) {
    <mat-checkbox 
      [checked]="isSelected(category)" 
      (change)="toggleSelection(category, $event)"
      color="primary"
    >
      {{ category }}
    </mat-checkbox>
  }
</mat-dialog-content>

<!-- Wrapper for the action buttons -->
<div class="dialog-actions-wrapper">
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Hủy</button>
    <button mat-raised-button color="primary" (click)="onApply()" cdkFocusInitial>Áp dụng</button>
  </mat-dialog-actions>
</div>
