.image-preview-card {
  position: relative;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
}

.image-preview-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-preview-card.is-main {
  border-color: #2d5b68;
  box-shadow: 0 0 5px rgba(45, 91, 104, 0.5);
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
}